.home-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  .home-content-title {
    color: #fff;
  }
  .home-content-card {
    flex: 1;
    overflow-y: auto;
    .chroma-grid {
      padding: 0;
    }
  }
}
